/*CSS from http://alessandroscarpellini.it/*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
body{
    overflow: hidden;
}

html,
body,
div,
main,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
    display: block
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none
}

body {
    line-height: 1
}

ol,
ul {
    list-style-type: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal
}

input,
textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

button,
input[type="button"] {
    background: 0
}

:required {
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none
}

em,
i {
    font-style: italic
}

strong,
b {
    font-weight: bold
}

u {
    text-decoration: underline
}

pre,
code {
    font-family: Monaco, Courier, monospace
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

blockquote,
q {
    quotes: "" ""
}

blockquote:before,
blockquote:after {
    content: ""
}

q:before,
q:after {
    content: ""
}

a {
    cursor: pointer
}

input[type="submit"],
input[type="button"] {
    cursor: pointer
}

button,
label[for] {
    cursor: pointer
}

img {
    -ms-interpolation-mode: bicubic
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.5em;
}

.name {
    font-size: 44px;
    line-height: 1.2em;
    margin-bottom: 42px;
}

@media (min-width: 500px) {
    body {
        font-size:20px;
    }
    .name {
        font-size:64px;
    }
}

@media (min-width: 700px) {
    body {
        font-size: 20px;
    }
    .name {
        font-size:64px;
    }
}

.intro {
    width: 100%;
    height: 100%;
    background: #141E30;
    background: linear-gradient(90deg, #141e30, #243b55);
    background: -moz-linear-gradient(top, #141E30 0%, #243b55 100%);
    background: -webkit-linear-gradient(top, #141E30 0%, #243b55 100%);
    background: linear-gradient(to bottom, #141E30 0%, #243b55 100%);
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 20px
}

.intro-title {
    -webkit-font-smoothing: antialiased
}

.intro-title>span {
    display: block;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0
}

@media (min-width: 1100px) {
    body{
        line-height: 3em;
        font-size:16px;
    }
    .intro-title>span {
        display: inline-block
    }

    .name{
        margin-bottom: 0px;
        font-size : 64px;
    }
}

.intro-title>span:nth-child(1) {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 550ms;
    animation-delay: 550ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.intro-title>span:nth-child(2) {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.intro-title>span:nth-child(3) {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 650ms;
    animation-delay: 650ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.intro-title>span:nth-child(4) {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.intro-title>span:nth-child(5) {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}


@-webkit-keyframes slideIn {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0
    }
    to {
        -webkit-transform: initial;
        transform: initial;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0
    }
    to {
        -webkit-transform: initial;
        transform: initial;
        opacity: 1
    }
}

a:hover {
    text-decoration: underline;
}
